# Ignore system files
.DS_Store
Thumbs.db
desktop.ini
*.log

# Editor directories
.vscode/
.idea/

# Node (just in case)
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
